//style
.no-style {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.container-fluid {
    padding: 0 35px !important;
}

//button
.btn-product {
    display: inline-block !important;
    padding: 2px 10px !important;
    border-radius: 10px !important;
    color: #fff !important;
    background: linear-gradient(
        90deg,
        #1488c9 0,
        #5fa7d0 48%,
        #669bda 100%
    ) !important;
    &:hover {
        background: linear-gradient(
            90deg,
            #4797b0 0,
            #4da9bd 48%,
            #4dbd92 100%
        ) !important;
    }
}

//color
.theme-btn-2 {
    background: linear-gradient(
        90deg,
        #1488c9 0,
        #5fa7d0 48%,
        #669bda 100%
    ) !important;
}
.theme-btn-7 {
    background: rgb(239, 131, 51);
    background: linear-gradient(
        90deg,
        rgba(239, 131, 51, 1) 59%,
        rgba(255, 201, 44, 1) 100%
    );
}

.bg-webiin-2 {
    background: rgb(239, 131, 51);
    background: linear-gradient(
        90deg,
        rgba(239, 131, 51, 1) 59%,
        rgba(255, 201, 44, 1) 100%
    );
}
.text-webiin {
    background-image: linear-gradient(
        90deg,
        #1488c9 0,
        #5fa7d0 48%,
        #669bda 100%
    ) !important;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-hover-webiin {
    &:hover {
        background-image: linear-gradient(
            90deg,
            #4797b0 0,
            #4da9bd 48%,
            #4dbd92 100%
        ) !important;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.bg-webiin {
    background-image: linear-gradient(
        90deg,
        #1488c9 0,
        #5fa7d0 48%,
        #669bda 100%
    ) !important;
}

.hover-webiin {
    &:hover {
        background: linear-gradient(
            90deg,
            #4797b0 0,
            #4da9bd 48%,
            #4dbd92 100%
        ) !important;
    }
}

//slick slider
.slick-arrow {
    border-color: none;
    &:hover {
        background: linear-gradient(
            90deg,
            #4797b0 0,
            #4da9bd 48%,
            #4dbd92 100%
        ) !important;
        border-color: none;
        border: none !important;
    }
}

a {
    &#scrollUp {
        &:hover {
            background: linear-gradient(
                90deg,
                #4797b0 0,
                #4da9bd 48%,
                #4dbd92 100%
            ) !important;
            border-color: none;
            border: none !important;
        }
    }
}

.ltn__feature-item-6 {
    &.box-shadow-1 {
        &.active {
            &:before {
                background: linear-gradient(
                    to right,
                    #1488c9 0,
                    #5fa7d0 48%,
                    #669bda 100%
                ) !important;
            }
        }
    }
}

.ltn__product-item {
    .product-info {
        h2 {
            a {
                text-decoration: none !important;

                &:hover {
                    color: #0c1e33;
                    text-decoration: none !important;
                }
            }
        }
    }
}

//carousel
.slick-arrow {
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
    justify-content: center;
    align-items: center;
    display: flex;
}

// custom topnavbar
header {
    .ltn__header-middle-area {
        .ltn__header-options {
            .mini-cart-icon {
                a {
                    &:hover {
                        color: #000000;
                        opacity: 0.5;
                    }
                }
            }

            .user-menu {
                li {
                    a {
                        color: #000000;
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }

        .btn-search {
            width: 100% !important;
            input {
                max-width: 500px !important;
                height: 40px;
                border-radius: 5px 0px 0px 5px !important;
            }
            button {
                background: linear-gradient(
                    90deg,
                    #1488c9 0,
                    #5fa7d0 48%,
                    #669bda 100%
                ) !important;
                height: 40px;
                padding: 0 7px;
                border-radius: 0px 5px 5px 0px !important;

                i {
                    font-weight: bold;
                    color: #ffffff;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

//homepage

//carousel
.ltn__slider-area {
    width: 85%;
    margin: auto;

    .slick-list {
        border-radius: 10px;
    }

    .ltn__slide-item {
        width: 1224px;
        height: 400px !important;
    }
}
//keuntungan
.ltn__feature-area {
    .ltn__feature-item {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        text-align: left;
        transition: translate 0.18s, box-shadow 0.18s;

        &:hover {
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
            top: -1px;
        }
    }
}

//produk populer
.ltn__team-area {
    .ltn__team-item {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        // height: 100%;
        position: relative;
        transition: translate 0.18s, box-shadow 0.18s;

        &:hover {
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
            top: -1px;
        }
    }
}

.ltn__about-us-area {
    .accordion {
        .accordion-item {
            &:first-child {
                border-radius: 10px 10px 0 0;
                .accordion-button {
                    border-radius: 10px 10px 0 0;
                }
            }
            &:last-child {
                border-radius: 0 0 10px 10px;
                .accordion-button {
                    border-radius: 0;
                    &.collapsed {
                        border-radius: 0 0 10px 10px !important;
                    }
                }
            }
        }
    }
}

.ltn__blog-area {
    .slick-slider {
        .slick-list {
            .slick-slide {
                .ltn__blog-item {
                    .ltn__blog-img {
                        border-radius: 10px 10px 0 0;
                    }

                    .ltn__blog-brief {
                        border-radius: 0 0 10px 10px;
                    }
                }
            }
        }
        .slick-arrow {
            display: flex;
        }
    }
}

// shop page
//shop-product-category
.sidebar {
    &.ltn__shop-sidebar {
        position: sticky;
        top: 175px;
    }

    .widget {
        form {
            button {
                border-radius: 0 10px 10px 0;
                background: linear-gradient(
                    90deg,
                    #1488c9 0,
                    #5fa7d0 48%,
                    #669bda 100%
                ) !important;
                &:hover {
                    background: linear-gradient(
                        90deg,
                        #1488c9 0,
                        #5fa7d0 48%,
                        #669bda 100%
                    ) !important;
                    border: none;
                }
            }
        }
    }
}

//category-product
.ltn__product-area {
    .ltn__product-item {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        position: relative;
        transition: translate 0.18s, box-shadow 0.18s;

        &:hover {
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
            top: -1px;
        }

        .product-img {
            border-radius: 10px 10px 0 0;
        }

        .product-info {
            .product-brief {
                p {
                    margin: 0;
                }
            }
        }
    }
}

//product-detail page

.ltn__shop-details-area {
    .ltn__shop-details-inner {
        .modal-product-meta {
            ul {
                border: none;
                padding: 0 !important;
                margin: 0 !important;
            }
        }

        .slick-arrow {
            display: flex;
        }
    }
}

.ltn__product-slider-area {
    .ltn__product-item {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        position: relative;
        transition: translate 0.18s, box-shadow 0.18s;

        &:hover {
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
            top: -1px;
        }

        .product-img {
            border-radius: 10px 10px 0 0;

            .product-hover-action {
                a {
                    border-radius: 10px;
                    &:hover {
                        background: linear-gradient(
                            90deg,
                            #4797b0 0,
                            #4da9bd 48%,
                            #4dbd92 100%
                        ) !important;
                        border-color: none;
                        border: none !important;
                    }
                }
            }
        }
    }

    .slick-arrow {
        display: flex !important;

        &.slick-prev {
            left: 0 !important;
        }
        &.slick-next {
            right: 0 !important;
        }
    }
}

.ltn__modal-area {
    .modal {
        .modal-content {
            border-radius: 10px !important;
        }
    }
}

//detail blog
.ltn__page-details-area {
    .ltn__blog-details-wrap {
        border-radius: 10px;

        .ltn__blog-category {
            a {
                border-radius: 10px !important;
            }
        }

        .ltn__blog-title {
            white-space: normal;
            word-break: break-all;
        }
        .related-post-area {
            .ltn__blog-item {
                border-radius: 10px;
                .ltn__blog-img {
                    img {
                        border-radius: 10px 10px 0 0 !important;
                    }
                }
            }
        }
    }

    .blog-sidebar {
        .ltn__popular-post-widget,
        .ltn__menu-widget,
        .ltn__tagcloud-widget {
            border-radius: 10px !important;
        }
    }
}

//loader
.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #1f2128;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    .spinner-grow {
        top: 50%;
        left: 50%;
        margin: -13px 0 0 -13px;
        position: absolute;

        &.text-primary {
            color: #56c4b6 !important;
        }
    }
}
.no-loader .loader {
    visibility: hidden;
    opacity: 0;
}
