.body-wrapper {
  max-width: 1440px;
  margin: auto;
}

.product-title-bold {
  font-weight: 600;
  text-transform: capitalize;
}

.no-style {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.container-fluid {
  padding: 0 35px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.table-checkout td {
  border: none !important;
}

.btn-product {
  display: inline-block !important;
  padding: 2px 10px !important;
  border-radius: 10px !important;
  color: #fff !important;
  background: linear-gradient(90deg, #1488c9 0, #5fa7d0 48%, #669bda 100%) !important;
}
.btn-product:hover {
  background: linear-gradient(90deg, #4797b0 0, #4da9bd 48%, #4dbd92 100%) !important;
}

.color-webiin {
  color: linear-gradient(90deg, #1488c9 0, #5fa7d0 48%, #669bda 100%) !important;
}

.color-hover-webiin:hover,
.color-hover-webiin .active {
  color: linear-gradient(90deg, #4797b0 0, #4da9bd 48%, #4dbd92 100%) !important;
}

.theme-btn-2 {
  background: linear-gradient(90deg, #1488c9 0, #5fa7d0 48%, #669bda 100%) !important;
  border-radius: 10px !important;
}
.theme-btn-2:after {
  border-radius: 10px !important;
}

.theme-btn-7 {
  background: rgb(239, 131, 51);
  background: linear-gradient(90deg, rgb(239, 131, 51) 59%, rgb(255, 201, 44) 100%) !important;
  border-radius: 10px !important;
}
.theme-btn-7:after {
  border-radius: 10px !important;
}

.bg-webiin-2 {
  background: rgb(239, 131, 51);
  background: linear-gradient(90deg, rgb(239, 131, 51) 59%, rgb(255, 201, 44) 100%) !important;
}

.text-webiin, header .ltn__header-middle-area .header-menu nav ul li a.active {
  background-image: linear-gradient(90deg, #1488c9 0, #5fa7d0 48%, #669bda 100%) !important;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-hover-webiin:hover,
.text-hover-webiin .active {
  background-image: linear-gradient(90deg, #4797b0 0, #4da9bd 48%, #4dbd92 100%) !important;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-webiin {
  background-image: linear-gradient(90deg, #1488c9 0, #5fa7d0 48%, #669bda 100%) !important;
}

.bg-webiin-danger {
  color: #f05154 !important;
  background: #fcdcdc !important;
}

.hover-webiin-danger:hover {
  color: #0c1e33 !important;
}

.hover-webiin:hover {
  background: linear-gradient(90deg, #4797b0 0, #4da9bd 48%, #4dbd92 100%) !important;
}

.slick-slider-smooth button,
.slick-slider-smooth1 button,
.slick-slider-smooth2 button {
  display: none !important;
}
.slick-slider-smooth a.slick-arrow,
.slick-slider-smooth1 a.slick-arrow,
.slick-slider-smooth2 a.slick-arrow {
  display: none !important;
}

.slick-arrow {
  border-color: none;
}
.slick-arrow:hover {
  background: linear-gradient(90deg, #4797b0 0, #4da9bd 48%, #4dbd92 100%) !important;
  border-color: none;
  border: none !important;
}

a#scrollUp:hover {
  background: linear-gradient(90deg, #4797b0 0, #4da9bd 48%, #4dbd92 100%) !important;
  border-color: none;
  border: none !important;
}

.ltn__feature-item-6.box-shadow-1.active:before {
  background: linear-gradient(to right, #1488c9 0, #5fa7d0 48%, #669bda 100%) !important;
}

.ltn__product-item .product-info h2 a {
  text-decoration: none !important;
}
.ltn__product-item .product-info h2 a:hover {
  color: #0c1e33;
  text-decoration: none !important;
}

.slick-arrow {
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  justify-content: center;
  align-items: center;
  display: flex;
}

header .ltn__header-middle-area .header-menu nav ul li a.active {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
header .ltn__header-middle-area .ltn__header-options .mini-cart-icon a:hover {
  color: #000000;
  opacity: 0.5;
}
header .ltn__header-middle-area .ltn__header-options .user-menu li a {
  color: #000000;
}
header .ltn__header-middle-area .ltn__header-options .user-menu li a:hover {
  opacity: 0.5;
}
header .ltn__header-middle-area .btn-search {
  width: 100% !important;
}
header .ltn__header-middle-area .btn-search input {
  max-width: 500px !important;
  height: 40px;
  border-radius: 5px 0px 0px 5px !important;
}
header .ltn__header-middle-area .btn-search button {
  background: linear-gradient(90deg, #1488c9 0, #5fa7d0 48%, #669bda 100%) !important;
  height: 40px;
  padding: 0 7px;
  border-radius: 0px 5px 5px 0px !important;
}
header .ltn__header-middle-area .btn-search button i {
  font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.carousel .carousel-inner,
.carousel .carousel-item,
.carousel img {
  border-radius: 10px !important;
}
@media (min-width: 575px) {
  .carousel:hover .btn-carousel {
    display: block !important;
  }
  .carousel:hover .btn-carousel button {
    opacity: 1;
  }
  .carousel:hover .btn-carousel button i:hover {
    color: #ffffff !important;
  }
}
.carousel .btn-carousel button i {
  font-size: 15px;
  background: #ffffff;
  padding: 10px 11px;
  border-radius: 50%;
  color: #0c1e33;
}

.ltn__feature-area .ltn__feature-item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  text-align: left;
  transition: translate 0.18s, box-shadow 0.18s;
}
.ltn__feature-area .ltn__feature-item:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  top: -1px;
}

.ltn__team-area .ltn__team-item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  position: relative;
  transition: translate 0.18s, box-shadow 0.18s;
}
.ltn__team-area .ltn__team-item:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  top: -1px;
}

.ltn__about-us-area .accordion .accordion-item:first-child {
  border-radius: 10px 10px 0 0;
}
.ltn__about-us-area .accordion .accordion-item:first-child .accordion-button {
  border-radius: 10px 10px 0 0;
}
.ltn__about-us-area .accordion .accordion-item:last-child {
  border-radius: 0 0 10px 10px;
}
.ltn__about-us-area .accordion .accordion-item:last-child .accordion-button {
  border-radius: 0;
}
.ltn__about-us-area .accordion .accordion-item:last-child .accordion-button.collapsed {
  border-radius: 0 0 10px 10px !important;
}

.ltn__blog-area .slick-slider .slick-list .slick-slide .ltn__blog-item .ltn__blog-img {
  border-radius: 10px 10px 0 0;
}
.ltn__blog-area .slick-slider .slick-list .slick-slide .ltn__blog-item .ltn__blog-brief {
  border-radius: 0 0 10px 10px;
}
.ltn__blog-area .slick-slider .slick-arrow {
  display: flex;
}

.sidebar.ltn__shop-sidebar {
  position: sticky;
  top: 175px;
}
.sidebar .widget form button {
  border-radius: 0 10px 10px 0;
  background: linear-gradient(90deg, #1488c9 0, #5fa7d0 48%, #669bda 100%) !important;
}
.sidebar .widget form button:hover {
  background: linear-gradient(90deg, #1488c9 0, #5fa7d0 48%, #669bda 100%) !important;
  border: none;
}

.ltn__product-area .ltn__product-item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  position: relative;
  transition: translate 0.18s, box-shadow 0.18s;
}
.ltn__product-area .ltn__product-item:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  top: -1px;
}
.ltn__product-area .ltn__product-item .product-img {
  border-radius: 10px 10px 0 0;
}
.ltn__product-area .ltn__product-item .product-info .product-brief p {
  margin: 0;
}

.ltn__shop-details-area .ltn__shop-details-inner .modal-product-meta ul {
  border: none;
  padding: 0 !important;
  margin: 0 !important;
}
.ltn__shop-details-area .ltn__shop-details-inner .slick-arrow {
  display: flex;
}

.ltn__product-slider-area .ltn__product-item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  position: relative;
  transition: translate 0.18s, box-shadow 0.18s;
}
.ltn__product-slider-area .ltn__product-item:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  top: -1px;
}
.ltn__product-slider-area .ltn__product-item .product-img {
  border-radius: 10px 10px 0 0;
}
.ltn__product-slider-area .ltn__product-item .product-img .product-hover-action a {
  border-radius: 10px;
}
.ltn__product-slider-area .ltn__product-item .product-img .product-hover-action a:hover {
  background: linear-gradient(90deg, #4797b0 0, #4da9bd 48%, #4dbd92 100%) !important;
  border-color: none;
  border: none !important;
}
.ltn__product-slider-area .slick-arrow {
  display: flex !important;
}
.ltn__product-slider-area .slick-arrow.slick-prev {
  left: 0 !important;
}
.ltn__product-slider-area .slick-arrow.slick-next {
  right: 0 !important;
}

.ltn__modal-area .modal .modal-content {
  border-radius: 10px !important;
}

.ltn__page-details-area .ltn__blog-details-wrap {
  border-radius: 10px;
}
.ltn__page-details-area .ltn__blog-details-wrap .ltn__blog-category a {
  border-radius: 10px !important;
}
.ltn__page-details-area .ltn__blog-details-wrap .ltn__blog-title {
  white-space: normal;
  word-break: break-all;
}
.ltn__page-details-area .ltn__blog-details-wrap .related-post-area .ltn__blog-item {
  border-radius: 10px;
}
.ltn__page-details-area .ltn__blog-details-wrap .related-post-area .ltn__blog-item .ltn__blog-img img {
  border-radius: 10px 10px 0 0 !important;
}
.ltn__page-details-area .blog-sidebar .ltn__popular-post-widget,
.ltn__page-details-area .blog-sidebar .ltn__menu-widget,
.ltn__page-details-area .blog-sidebar .ltn__tagcloud-widget {
  border-radius: 10px !important;
}

.modal .modal-dialog .modal-content {
  border-radius: 10px;
}
.modal .modal-dialog .modal-content .modal-header .btn-close {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
}

.accordion .collapse {
  visibility: visible !important;
}

footer {
  width: 100%;
  height: 370px;
}
footer .background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
footer .background svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(3) scaleX(2.25);
  transform-origin: bottom;
  box-sizing: border-box;
  display: block;
  pointer-events: none;
}

.svg-icon-product {
  transition: fill 0.3s ease; /* Smooth transition effect */
}
.svg-icon-product:hover {
  fill: url(#hoverGradient);
}
.svg-icon-product #hoverGradient {
  stop-color: #4797b0;
  stop-color: #4da9bd;
  stop-color: #4dbd92;
}

#ltn__utilize-mobile-menu-filters.ltn__utilize-open {
  padding: 20px !important;
  height: auto;
  position: sticky !important;
  top: 150px;
  left: 0 !important;
  transform: translateX(-35px);
}
@media (max-width: 333px) {
  #ltn__utilize-mobile-menu-filters.ltn__utilize-open {
    transform: translateX(0) !important;
  }
}
@media (min-width: 992px) {
  #ltn__utilize-mobile-menu-filters.ltn__utilize-open {
    transform: translateX(0) !important;
  }
}/*# sourceMappingURL=custom.css.map */